@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    font-family: "poppins";
    background-color: #F5F5F7;
  }
}

@layer components{
  .container{
    @apply px-6 max-w-[1350px] mx-auto;
  }

  .card:hover .icon{
    filter: brightness(0);
  }
}